# Node
node_modules/
npm-debug.log*

# Env
.env
.env.local

# Next.js
frontend/.next/
frontend/out/

# Backend build
backend/dist/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
